[submodule "Cozinha"]
	path = Cozinha
	url = git@github.com:Kreucyu/MicroChefs-Cozinha.git
[submodule "Pedido-Service"]
	path = Pedido-Service
	url = git@github.com:Kreucyu/MicroChefs-Pedido-Service.git
[submodule "DLQSupport"]
	path = DLQSupport
	url = git@github.com:Kreucyu/MicroChefs-DLQSupport.git
[submodule "Usuario-Service"]
	path = Usuario-Service
	url = https://github.com/Baphomet/MicroChefs-Usuario-Service
